<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Vision Superior</title>
  <style type="text/css">
    p, ul, li
    {
      font-family:Droid Sans, sans-serif;
      font-size:14px;
      color:#000000;
      line-height:1.5em;
      margin: 0 0 0.625em;
      font-weight: normal;
      letter-spacing: nullpx;
      text-align : justify;
    }
    .boton1{
      text-decoration: none;
      width: 200px;
      height:40px;
      padding: auto;
      padding-left: auto;
      padding-right: auto;
      font-size: 14px;
      font-style: normal;
      color: #FFFFFF;
      background-color: #0089d9;
      border-radius: 10px;
    }
    .boton1:hover{
      opacity: 0.6;
      text-decoration: none;
    }


    .tooltip {
      position: relative;
      /* display: inline-block; */
      cursor: pointer;
    }

    .tooltiptext {
      opacity: 0;
    width: max-content;
    background-color: #585858;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    position: absolute;
    z-index: 10;
    margin-left: -60px;
    top: 25px;
    left: -12px;
    }

    .tooltiptext::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #585858 transparent;
    }

    .tooltip:hover .tooltiptext {
      opacity: 1 !important;
    }

    .action-link{
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      text-decoration: none;
      opacity: 1;
    }

    .action-link:hover{
      opacity: 0.6;
    }

    @media screen and (min-width: 800px) {
      .tooltiptext {
        opacity: 1 !important;
      }
}

  </style>
</head>
<body style="margin:0; padding:0;" cz-shortcut-listen="true">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-image: url(https://i.ibb.co/dDrsq5F/59c427acc68979a066ed8c0f.jpg); background-size: cover; background-position: center; background-color: #ebebeb;">
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;width: 100%; padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px" align="center">
        <img src="https://www.visionsuperior.com/wp-content/themes/visionsuperior/assets/images/home/logo_zaldivar.png" alt="" border="0" width="auto" class="center fullwidth">
      </td>
    </tr>
  </table>

  <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 600px;margin: 0 auto;text-align: inherit" cellpadding="0" cellspacing="0" align="center" width="100%" border="0" class="container">
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top" width="100%">
        <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;font-size:14px;color:#000000;line-height:1.5em" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;width: 100%; padding-top:24px;padding-right: 24px;padding-bottom: 24px;padding-left: 24px" align="left">

                <%- body %>
                
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div style="text-align: center;">
    <a class="action-link" href="https://wa.me/5492615540755" target="_blank">
      <img alt="whatsapp" width="40" src="https://i.ibb.co/k5K9rwt/whatsapp.png">
    </a>
    <a class="action-link" href="mailto:info@visionsuperior.com" target="_blank">
      <img alt="mail" width="40" src="https://i.ibb.co/Dzy6H1J/mail.png">
    </a>
    <a class="action-link tooltip" href="tel:08002228474">
      <img alt="telefono" width="40" src="https://i.ibb.co/pRwBqTW/telefono.png">
      
    </a>
    <a class="action-link" href="https://www.facebook.com/visionsuperior/" target="_blank">
      <img alt="facebook" width="40" src="https://i.ibb.co/FVNHwMB/facebook2.jpg">
    </a>
    <a class="action-link" href="https://www.instagram.com/visionsuperior/" target="_blank">
      <img alt="instagram" width="40" src="https://i.ibb.co/VM7HHXP/instagram.png">
    </a>
  </div>
  <div style="text-align: center; margin-top: 5px;">
    <span class="tooltiptext">Llamanos al 0800 222 8474</span>
  </div>
  <div style="text-align: center; margin-top: 5px;">
  </div>

  <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 600px;margin: 0 auto;text-align: inherit" cellpadding="0" cellspacing="0" align="center" width="100%" border="0" class="container">
    <tr style="vertical-align: top">

      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;width: 100%; padding-top:24px;padding-right: 24px;padding-bottom: 24px;padding-left: 24px" align="left">
        <hr/>
        <p style="font-family:Droid Sans, sans-serif; font-size:9px;color:#5e6268;line-height:1.5em;margin: 0 0 0.625em; font-weight: normal;letter-spacing: nullpx;text-align : justify;">
          Por favor no responder este email ya que el mismo es generado automáticamente.
        </p>
        <p style="font-family:Droid Sans, sans-serif; font-size:9px;color:#5e6268;line-height:1.5em;margin: 0 0 0.625em; font-weight: normal;letter-spacing: nullpx;text-align : justify;">
          La información contenida en este mensaje es para uso exclusivo del destinatario cuya divulgación es sancionada por la ley. Si Ud. no es uno de los destinatarios consignados o la persona responsable de hacer llegar este mensaje a los destinatarios consignados, notifíquenos respondiendo al mail info@visionsuperior.com con el asunto: Remover.
        </p>
      </td>
    </tr>
  </table>
</body>
</html>